.navigation{
    width: 97vw;
    border: 1px;
    color:palevioletred;
    background-color:pink;
    border-radius: 5px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-shadow: 3px 3px 5px palevioletred;
}
body{
    background-image: url(download\ \(6\).jpg);
}
